{ :name 'alekcz/firetomic
  :version "0.4.1490"
  :description "Firetomic: Datahike Server with Firebase as the backend"
  :url "https://github.com/alekcz/firetomic"
  :license {:name "EPL-2.0 License"
            :url "https://opensource.org/licenses/EPL-2.0"}
  
  :deps { org.clojure/clojure      {:mvn/version "1.10.3"}
          io.replikativ/datahike    {:mvn/version "0.4.1490"}
          alekcz/datahike-firebase  {:mvn/version "0.4.1490"}
          buddy/buddy-auth          {:mvn/version "3.0.1"}
          ring/ring                 {:mvn/version "1.9.5"}
          http-kit/http-kit         {:mvn/version "2.5.3"}
          metosin/reitit            {:mvn/version "0.5.17"}
          ring-cors/ring-cors       {:mvn/version "0.1.13"}
          com.taoensso/timbre       {:mvn/version "5.2.1"}
          environ/environ           {:mvn/version "1.2.0"}
          mount/mount               {:mvn/version "0.1.16"}
          metosin/spec-tools        {:mvn/version "0.10.5"}
          com.cemerick/url          {:mvn/version "0.1.1"}} 

 :paths ["src/clj"]

 :aliases {:kaocha {:extra-paths ["test"]
                    :extra-deps  {clj-http/clj-http   {:mvn/version "3.12.3"}
                                  lambdaisland/kaocha {:mvn/version "1.64.1010"}
                                  lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}
                    :main-opts   ["-m" "kaocha.runner"]
                    :exec-fn     kaocha.runner/exec-fn
                    :exec-args   {}}

           :test {:extra-paths        ["test"]
                  :extra-deps         {clj-http/clj-http      {:mvn/version "3.12.3"}
                                       org.clojure/test.check {:mvn/version "1.1.1"}}
                  lambdaisland/kaocha {:mvn/version "1.64.1010"}}

            :install {:ns-default datahike-server.install
                      :exec-fn install }

            :run {:ns-default datahike-server.core
                  :exec-fn -main }

            :repl {:extra-deps {cider/cider-nrepl           {:mvn/version "0.27.4"}
                               nrepl/nrepl                 {:mvn/version "0.9.0"}
                               org.clojure/tools.namespace {:mvn/version "1.2.0"}}
                  :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

           :ffix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                  :main-opts ["-m" "cljfmt.main" "fix"]}


           :build {:extra-deps       
                               {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
                                slipset/deps-deploy             {:mvn/version "0.2.0"}
                                borkdude/gh-release-artifact    {:git/url "https://github.com/borkdude/gh-release-artifact"
                                                                 :sha     "a83ee8da47d56a80b6380cbb6b4b9274048067bd"}
                                babashka/babashka.curl          {:mvn/version "0.1.2"}
                                babashka/fs                     {:mvn/version "0.1.4"}
                                cheshire/cheshire               {:mvn/version "5.10.2"}
                                com.google.cloud.tools/jib-core {:mvn/version "0.21.0"}}
                   :ns-default build}}}
