#kaocha/v1 {:cloverage/opts {:codecov? true}
            :tests [{:id :unit
                     :skip-meta [:integration]}
                    {:id :integration
                     :focus-meta [:integration]}]
            :reporter kaocha.report/documentation}
