{:databases [{:store {:backend :firebase}
              :schema-flexibility :read
              :keep-history? false
              :name "sessions"}
             {:store {:backend :firebase}
              :name "users"
              :keep-history? true
              :schema-flexibility :write}]
 :server {:port  3333
          :join? false
          :loglevel :debug
          :firebase-url "http://localhost:9000" 
          :token :neverusethisaspassword}}
