{:databases [{:store {:backend :firebase 
                      :db "http://localhost:9000" 
                      :root "sessions"}
              :initial-tx [{:name "Alice", :age 20}
                           {:name "Bob", :age 21}]
              :schema-flexibility :read
              :keep-history? false
              :name "sessions"}
             {:store {:backend :firebase 
                      :db "http://localhost:9000" 
                      :root "users"}
              :name "users"
              :keep-history? true
              :schema-flexibility :write}]
 :server {:port  3333
          :join? false
          :loglevel :debug
          :token :neverusethisaspassword}}
