{:databases [{:store {:backend :firebase}
              :schema-flexibility :read
              :keep-history? false
              :name "sessions"}
             {:store {:backend :firebase}
              :name "users"
              :keep-history? true
              :schema-flexibility :write}]
 :server {:port  3333
          :join? false
          :loglevel :info
          :firebase-url "https://project-id.firebaseio.com/firetomic" 
          :dev-mode false
          :token :securerandompassword}}